﻿
@{
    ViewBag.Title = "create";
}

<h2>Create Product</h2>

<form id="CreateProduct">

    <label>Name</label>
    <input name="Name" />
    <br />

    <label>Description</label>
    <input name="Description" />
    <br />
    <label>Price</label>
    <input name="Price" />
    <br />
    <button type="button" id="SaveBtn">Save</button>


</form>
<script>
    $("#SaveBtn").click(function () {
        
        $.ajax({
            type: 'POST',
            url: '/Product/create',
            data: $("#CreateProduct").serialize() 
        })
       .done(function (response) {
           $("#tableContainer").html(response);
           $("#ActionContainer").html("");
       })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIl");
        });
    });

</script>