﻿@model ClothBazar.Entities.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Product</h2>

<form id="EditProduct">

    <input name="ID" type="hidden" value="@Model.ID"/>

    <label>Name</label>
    <input name="Name"  value="@Model.Name"/>
    <br />

    <label>Description</label>
    <input name="Description" value="@Model.Description"/>
    <br />
    <label>Price</label>
    <input name="Price" value="@Model.Price" />
    <br />
    <button type="button" id="UpdateBtn">Update</button>


</form>
<script>
    $("#UpdateBtn").click(function () {

        $.ajax({
            type: 'POST',
            url: '/Product/Edit',
            data: $("#EditProduct").serialize()
        })
       .done(function (response) {
           $("#tableContainer").html(response);
           $("#ActionContainer").html("");
       })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIl");
        });
    });

</script>