﻿@model List<ClothBazar.Entities.Product>
@{
    ViewBag.Title = "ProductTable";
}

<div>
    <form method="post">
        <input id="searchTxt" name="Search" />
        <button type="button" id="searchBtn">Search</button>
    </form>
    <button type="button" id="newBtn">New</button>
</div>
<div >
    <table>
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>-</td>
                    <td>@product.Price</td>
                    <td>
                        <button class="EditBtn"  data-id="@product.ID">Edit</button>
                        <button class="DeleteBtn"  data-id="@product.ID">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>



<script>
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searchValue
            }
        })
       .done(function (response) {
           $("#tableContainer").html(response);
       })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIl");
        });
    });

    $("#newBtn").click(function () {
      
        $.ajax({
            url: '/Product/create',
         
        })
       .done(function (response) {
           $("#ActionContainer").html(response);
       })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIl");
        });
    });

    $(".EditBtn").click(function () {

        $.ajax({
            url: '/Product/Edit',
            data: {
                ID: $(this).attr('data-id')
            }

        })
       .done(function (response) {
           $("#ActionContainer").html(response);
       })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIl");
        });
    });

    $(".DeleteBtn").click(function () {

        var ConfirmDelete = confirm("Are you sure you want to delete this ?");

        if (ConfirmDelete)
        {
            $.ajax({
                type: 'POST',
                url: '/Product/Delete',
                data: {
                    ID: $(this).attr('data-id')
                }

            })
      .done(function (response) {
          $("#tableContainer").html(response);
      })
       .fail(function (XMLHttpRequest, textStatus, errorThrown) {
           alert("FAIl");
       });
        }

       
    });
</script>