﻿@model ClothBazar.Entities.Category
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Category</h2>

<form method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <label>Name</label>
    <input name="Name" value="@Model.Name"/>

    <label>Description</label>
    <input name="Description" value="@Model.Description"/>

    <button type="submit">Save</button>


</form>